.influencer-logo {
    font-family: 'Dancing Script', cursive;
    font-size:3rem;
    color:var(--secondary-color);
}

.influencer-navigation {
    list-style-type: none;
    position: relative;
}

.influencer-navigation a {
    text-decoration: none;
}

.hamburger-menu-bar {
    font-size: 3rem;
    position:absolute;
    right:40px;
    display:block;
}

@media only screen and (max-width:991px){
    
}