body {
    font-family: 'Poppins', sans-serif;
}

#influencer--header {
    padding:2rem 1.5rem;
}

#influencer--header-logo {
    font-family: 'Lobster', cursive;
    font-size:3.5rem;
    font-weight: 900;
    text-shadow: 1rem 0.5rem 0.5rem red;
    cursor:grab;
    /* color:blue; */
}


.fa-bars {
    font-size: 3.5rem;
    cursor:grab;
}

.fa-xmark {
    font-size:3.5rem;
    cursor:grab;
}



#influencer--header-main-menu {
    list-style-type: none;
}

#influencer--header-main-menu a {
    text-decoration: none;
    cursor:grab;
}


.fa-cart-shopping {
    font-size: 2rem;
}


.prebook-btn {
    border-radius:1.5rem;
    cursor:grab;
}

.outer-border {
    width:25rem;
    border:1px solid var(--color-purple);
    height:25rem;
    border-radius: 50%;
}

.inner-border {
    margin:auto;
    width:20rem;
    border:1px solid var(--color-purple);
    height:20rem;
    border-radius: 50%;
    background-color: var(--color-purple);
}

#main-camera {
    max-width:120%;
}

.logo-box {
    width:10%;
    cursor:grab;
}

.popular-grid-container {
    width:80%;
}

.influencer-gear--main-popular-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    
}

.influencer-gear--main-popular-item {
    box-shadow: 0.5rem 0.2rem 0.2rem rgb(0, 0, 0,0.1);
}

.img-popular {
    width:90%;
}

.influencer-gear-footer {
    padding:4rem 8rem;
    background-color: #120E43;
    font-style: italic;
}

@media only screen and (max-width:1000px){
    .logo-box {
        width:15%;
    }

    .popular-grid-container {
        width:90%;
    }

    .influencer-gear--main-popular-container {
        grid-template-columns: 1fr 1fr;
    }
    
}
@media only screen and (max-width:850px) {
    #shopping-cart {
        position:absolute;
        right:1rem;
        top:2.5rem;
    }
    
    .popular-grid-container {
        width:95%;
    }

    .fa-cart-shopping {
        font-size: 3.5rem;
        padding:0;
    }
    
    #influencer--header-open-menu {
        display:block;
    }

    #influencer--header-main-menu {
        position:fixed;
        top:-120%;
        height:100vh;
        right:0;
        left:0;
        background-color: rgb(0, 0, 0,0.5);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;
    }

    #influencer--header-main-menu a {
        transition:font-size 0.2 ease, color 0.2s ease;
    }

    #influencer--header-main-menu a:hover {
        font-size:3rem;
        color:var(--color-info);
    }

    #influencer--header-main-menu a {
        font-size: 2.5rem;
        color:var(--color-light);
    }

    #influencer--header-close-menu {
        position:fixed;
        right:1rem;
        top:1rem;
        z-index:2;
    }

    .fa-magnifying-glass {
        display: none;
    }


    #influencer-gear--main-journey {
        align-items: center;
        flex-direction: column;
    }

    .influencer-gear--main-journey-description {
        order:2;
        width:70%;
        text-align: center;
    }

    .influencer-gear--main-journey-camera {
        order:1;
        width:70%;
        display:flex;
        justify-content: center;
    }

    .logo-box {
        width:20%;
    }

}


@media only screen and (max-width:650px) {
    .logo-box {
        width:25%;
    }
}


@media only screen and (max-width:575px) {
    .influencer-gear--main-popular-container {
        grid-template-columns: 1fr;
    
    }
}
